body {position:relative;}

.header {width:100%; height:100px; position:absolute; top:0; left:0; z-index:100;}
.header::after {
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 66px;
  top: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: -1;
}
.header.is-active::after {
  opacity: 1;
}

.header.is-active{
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sns {position:absolute; top:50%; transform:translateY(-50%); right:120px;}
.sns a {display:inline-block; margin-left:15px;}
.sns a.cv {font-size:10px; background:#000; width:20px; height:20px; text-align:center; line-height:20px; border-radius:50%; color:#fff; font-weight:bold;  vertical-align:middle;}
.sns a.github {font-size:21px; vertical-align:middle; color:#000; margin-top:2px;}
.sns a.insta {font-size:14px; text-align:center;  width:20px; height:20px; background:#000;  vertical-align:middle; color:#fff;  border-radius:50%; line-height:23px;}

.bar {position:absolute; top:50%; transform:translateY(-50%); right:47px; text-align:center; cursor:pointer;}
.bar i {color:#000;}
.bar em {display:block; color:#000; transform:rotate(90deg); font-weight:bold; margin-top:10px;}

.side {position:fixed; right:0; width:120px; height:100vh;}
.side p {position:absolute; top:50%; left:0; right:0; margin:0 auto; text-align:center; transform:rotate(90deg); color:#000; white-space:nowrap; font-weight:bold;}

.tab_menu {position:fixed; top:200px; right:-45%; width:45%; height:100%; background:#fff; padding-top:90px; padding-right:120px; z-index:200; 
 -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition:0.5s ease-in-out;}
.tab_menu.on {right:0;}
.tab_menu.off {right:-45%;
 -webkit-transition: 0.5s ease-in-out .5s;
  -moz-transition: 0.5s ease-in-out .5s;
  -o-transition: 0.5s ease-in-out .5s;
  transition:0.5s ease-in-out .5s;}
.tab_menu ul {float:right;}
.tab_menu ul li {text-align:right; line-height:1;}
.tab_menu ul li + li {margin-top:57px;}
.tab_menu ul li a {display:inline-block; font-size:37px; font-weight:bold; color:#999; position:relative;  transition:0.3s ease-in-out;}
.tab_menu ul li a:hover {color:#000;}
.tab_menu ul li a:hover:before {width:100%;}
.tab_menu ul li a:before {content:""; width:0; height:2px; background:#000; position:absolute; top:50%; transform:translateY(-50%); left:0; transition:0.3s ease-in-out;}

.tab_menu_img {position:fixed; top:0; left:0; width:55%; height:100%; background:url(images/tab_bg01.jpg) right center no-repeat; background-size:cover; z-index:200; opacity:0; visibility:hidden; transition:0.5s ease-in-out .5s;}
.tab_menu_img.on {opacity:1; visibility:visible;}
.tab_menu_img.off {opacity:0; visibility:hidden;
 -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition:0.5s ease-in-out; }
.tab_menu_img.change {background:url(images/tab_bg02.jpg) center center no-repeat; background-size:cover;
-webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition:0.3s ease-in-out; }
.tab_menu_img.change2 {background:url(images/tab_bg03.jpg) center center no-repeat; background-size:cover; 
-webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition:0.3s ease-in-out; }
.tab_menu_img.change3 {background:url(images/tab_bg04.jpg) center center no-repeat; background-size:cover;
-webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition:0.3s ease-in-out; }


.main {height:100vh; background:url(images/navi_bg01.jpg)center center no-repeat; background-size:cover; position:relative;}
.main p {position:absolute; top:50%; left:18%; transform:translateY(-50%); font-size:20px; font-weight:bold; color:#000; opacity:0;}


@media screen and (max-width:1400px){
.tab_menu ul li + li {margin-top:50px;}
.tab_menu ul li a {font-size:34px;}

}

@media screen and (max-width:1024px){
.sns {right:104px;}
.bar {right:30px;}

.tab_menu {padding-right:104px;}
.tab_menu ul li + li {margin-top:47px;}
.tab_menu ul li a {font-size:30px; }

}

@media screen and (max-width:720px){

.sns {display:none;}

.tab_menu {top:170px; padding-right:40px;}
.tab_menu ul li + li {margin-top:43px;}
.tab_menu ul li a {font-size:23px;}
}
